.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #0e003a, #0d0b45, #0e1251, #0d1a5d, #0a216a, #052e76, #013b82, #00488d, #005b95, #006c92, #007a89, #00867d);
}

.landing > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing > div > div {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  /* margin: 50% auto; */
  font-weight: 700;
  margin-bottom: 20px;
}

.landing h1 {
  font-size: 3em;
  width: 60%;
}

.landing img {
  width: 150px;
  padding: 8px;
  border: 2px solid white;
  border-radius: 100%;
}
